node_modules
.pnp*
**/node_modules
**/.turbo
.DS_Store
.env
.env.*
/dist
/build
/.next
/out
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# pnpm-lock.yaml is required for Vercel
# pnpm-lock.yaml
